<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sleepydragon.drumsk.metronome"
    >

    <application>

        <service
            android:name=".MetronomeService"
            android:exported="false"
            android:enabled="true"
            android:process=":bg"
            />

    </application>

</manifest>
