<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sleepydragon.drumsk"
    android:sharedUserId="org.sleepydragon.drumsk"
    android:sharedUserLabel="@string/shared_user_label"
    >

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:name=".ApplicationImpl"
        android:label="@string/app_name"
        android:theme="@style/app_theme"
        >

        <activity
            android:name=".main.MainActivity"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
